<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Tronix</h1>
        <div class="list-group" id="categories">
          <form class="list-group-item" action="/listings/query" method="post">
            <input type="text" name="query" value="{{query}}" placeholder="Search..."/>
          </form>          
          <a href="/listings" class="list-group-item">All</a>
          <a href="/listings/filter/Gaming" class="list-group-item">Gaming</a>
          <a href="/listings/filter/Music" class="list-group-item">Music</a>
          <a href="/listings/filter/TVs" class="list-group-item">TVs</a>
          <a href="/listings/filter/Computers" class="list-group-item">Computers</a>
          <a href="/listings/filter/Phones" class="list-group-item">Phones</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        {{#if CurrentUserMade}}
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="/uploads/{{listing.photo}}" alt="{{listing.title}}">
            <div class="card-body">
              <h3 class="card-title">{{listing.title}}</h3>
              <h4>${{listing.price}}</h4>
              <p class="card-text">{{listing.description}}</p>
              <a href="/listings/{{listing._id}}/edit" class="btn btn-primary">Edit</a>
              <form method="post" action="/listings/{{listing._id}}/delete" class="btn btn-primary" style="height: 38px">
                <button style="color: inherit; background-color: inherit; size: inherit; border: none; height: 25px;" type="submit">Delete</button>
              </form>
              <a href="/listings/{{listing._id}}/add_comment" class="btn btn-primary" style="width: 175px; height: 38px;">Leave a comment</a>
            </div>
          </div>
        {{else}}
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="/uploads/{{listing.photo}}" alt="{{listing.title}}">
            <div class="card-body">
              <h3 class="card-title">{{listing.title}}</h3>
              <h4>${{listing.price}}</h4>
              <p class="card-text">{{listing.description}}</p>
              {{#if user}}
              <form action="/listings/{{listing._id}}/payment" method="POST">
                <script
                    src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="{{key}}" 
                    data-amount='{{price}}' 
                    data-currency="usd" 
                    data-name="{{user.first_name}} {{user.last_name}}" 
                    data-description="{{listing.title}}" 
                    data-locale="auto"> 
                </script>
              </form> 
              <br>
              {{/if}}
              <a href="/listings/{{listing._id}}/add_comment" class="btn btn-primary" style="width: 175px; height: 38px;">Leave a comment</a>
            </div>
          </div>
        {{/if}}
      </div>
      
        <!-- /.card -->

        <div class="col-lg-12">
          {{#each listing.comments}}
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              {{title}}
            </div>
            <div class="card-body">
              <p>{{comment}}</p>
              <small class="text-muted">Posted by {{first_name}} {{last_name}}</small>
            </div>
          </div>
          {{/each}}
          <!-- <a href="/listings/{{listing._id}}/add_comment" class="btn btn-primary" style="width: 265.3px; height: 38px;">Leave a comment</a> -->
        </div>

        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

</body>

</html>

