<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Tronix</h1>
        <div class="list-group" id="categories">
          <form class="list-group-item" action="/listings/query" method="post">
            <input type="text" name="query" value="{{query}}" placeholder="Search..."/>
          </form>          
          <a href="/listings" class="list-group-item">All</a>
          <a href="/listings/filter/Gaming" class="list-group-item">Gaming</a>
          <a href="/listings/filter/Music" class="list-group-item">Music</a>
          <a href="/listings/filter/TVs" class="list-group-item">TVs</a>
          <a href="/listings/filter/Computers" class="list-group-item">Computers</a>
          <a href="/listings/filter/Phones" class="list-group-item">Phones</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        {{#if CurrentUserMade}}
          {{#listing}}
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="/uploads/{{photo}}" alt="">
            <div class="card-body">
              <h3 class="card-title">{{title}}</h3>
              <h4>${{price}}</h4>
              <p class="card-text">{{description}}</p>
              <a href="/listings/{{_id}}/edit" class="btn btn-primary">Edit</a>
              <form method="post" action="/listings/{{_id}}/delete" class="btn btn-primary" style="height: 38px">
                <button style="color: inherit; background-color: inherit; size: inherit; border: none; height: 25px;" type="submit">Delete</button>
              </form>
            </div>
          </div>
          {{/listing}}
        {{else}}
          {{#listing}}
            <div class="card mt-4">
              <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
              <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <h4>${{price}}</h4>
                <p class="card-text">{{description}}</p>
              </div>
            </div>
          {{/listing}}
        {{/if}}
        

        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

</body>

</html>

