<body>
    <div class="container">
        <div class="row" id="my_listing">
            {{#listings}}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-20">
                    <a href="/listings/{{_id}}"><img class="card-img-top" src="/uploads/{{photo}}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="/listings/{{_id}}">{{title}}</a>
                        </h4>
                        <h5>${{price}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/listings}}
        </div>
    </div>
</body>

