html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: -120px;
}

.wrap {
    height: auto;
    margin: 0 auto -120px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}

footer {
    background-color: #111111;
    color: #eeeeee;
    border-top: 1px solid red;
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 60px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.pt-5, .py-5
{
    padding-top: 1.5rem!important;
}

#register-form {
    padding-top: 60px;
}

#login-form {
    padding-top: 140px;
}

#listing-form {
    padding-top: 60px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#my_listing {
    padding-top: 50px;
}

input {
    outline: none;
    border: none;
}

#result a, #categories a {
    text-decoration: none !important;
    color: black !important;
}